<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- The title of the webpage -->
    <title>Budget App</title>
    <!-- Link to the CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!-- The main heading of the webpage -->
        <h1>Budget App</h1>
    </header>
    <main>
        <!-- Link to This Month's Bills -->
        <a href="{{ url_for('month_view', year=now.year, month=now.month) }}">Update Bills</a>
        <!-- Table of entries due this pay period -->
        <h2>Due This Pay Period ({{ this_pay_period_start.date() }} - {{ this_pay_period_end.date() }})</h2>
        <table>
            <tr>
                <th>Due Date</th>
                <th>Bill Name</th>
                <th>Amount Due</th>
            </tr>
            {% for bill in bills %}
                {% if this_pay_period_start.date() <= bill.due_date <= this_pay_period_end.date() %}
                    <tr>
                        <td>{{ bill.due_date }}</td>
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.amount_due }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2">Total Due This Pay Period</td>
                <td>{{ total_due_this_pay_period }}</td>
            </tr>
        </table>

        <!-- Table of entries due next pay period -->
        <h2>Due Next Pay Period ({{ next_pay_period_start.date() }} - {{ next_pay_period_end.date() }})</h2>
        <table>
            <tr>
                <th>Due Date</th>
                <th>Bill Name</th>
                <th>Amount Due</th>
            </tr>
            {% for bill in bills %}
                {% if next_pay_period_start.date() <= bill.due_date <= next_pay_period_end.date() %}
                    <tr>
                        <td>{{ bill.due_date }}</td>
                        <td>{{ bill.name }}</td>
                        <td>{{ bill.amount_due }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2">Total Due Next Pay Period</td>
                <td>{{ total_due_next_pay_period }}</td>
            </tr>
        </table>
    </main>
    <footer>
        <!-- Footer information -->
        <p>© 2024 My Budget</p>
    </footer>
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>